* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.logo {
    float: left;
    color: white;
    line-height: 60px;
}
header{
    width: 100%;
    background-color: black;
}

header .logo h1 {
    padding: 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
}
nav {
    height: 60px;
}

nav ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 60px;
}

nav > ul {
    float: right;
}

nav > ul > li {;
    float: left;
    position: relative;
    width: 150px;
    text-align: center;
}

nav > ul > li ul {
    position: absolute;
    display: none;
    width: inherit;
    text-align: center;
    padding: 10px 0 0 0;
}

nav ul li ul li {
    background-color: black;

}

.dropDownMenuTriangle {
    content: '';
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    height: 0;
    width: 0;
    position: relative;
    left: 50%;
    margin: -10px 0 0 -10px;
}


nav > ul > li:hover ul {
    display: block;
}

section:nth-child(2) {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #d0cfd7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#d0cfd7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#d0cfd7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cfd7',GradientType=0 ); /* IE6-9 */
}
.horizontallyScrollingList {
    list-style: none;
}

.horizontallyScrollingList > li:last-child {
    display: none;
}

.horizontallyScrollingList li::after {
    content: '';
    display: block;
    clear: both;
}

.horizontallyScrollingList li img {
    float: left;
}

.horizontallyScrollingList li {
    text-align: center;
}

section > ul > li > button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #24ba9f;
    color: white;
    text-transform: uppercase;
}
