@import "partials/_header.scss";
@import "partials/_slider.scss";
@import "partials/_chairs.scss";
* {
  box-sizing: border-box;
}

%small-site-color-underscore {
  border-bottom: solid 7px $site-color;
  width: 138px;
  display: block;
  font-weight: bold;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1050px;
  margin: 0 auto;
}