$site-color: #25c9b0;

@import "partials/_header.scss";
@import "partials/_slider.scss";
@import "partials/_chairs.scss";
@import "partials/_shopping-plans.scss";
@import "partials/_form.scss";
@import "partials/_footer.scss";
@import "partials/_application.scss";
@import "partials/_animations.scss";


* {
  box-sizing: border-box;
}

%small-site-color-underscore {
  border-bottom: solid 7px $site-color;
  width: 138px;
  display: block;
  font-weight: bold;
}

%large-site-color-underscore {
  border-bottom: solid 8px $site-color;
  width: 320px;
  display: block;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}


body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1050px;
  margin: 0 auto;
}