.chairs-div {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  .chairs-presentation {
    width: 331px;
    height: 225px;
    position: relative;
    border: solid 1px #d9d9d9;
    &:nth-child(1) {
      background-image: url("../images/box1_img.png");
    }
    &:nth-child(2) {
      background-image: url("../images/box2_img.jpg");
    }
    div {
      width: 100%;
      height: 62px;
      background-color: rgba(255, 255, 255, 0.5);
      top: 150px;
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        margin-left: 14px;
        @extend %small-site-color-underscore;
      }
    }
  }
  .chairs-text-box {
    width: 340px;
    height: 255px;
    border: solid 1px #d9d9d9;
    h2 {
      margin: 30px 24px 17px 24px;
      font-size: 12px;
      @extend %small-site-color-underscore;
    }
    p {
      margin: 0 24px;
      line-height: 22px;
      font-size: 11px;
    }
  }
}