.form-div {
  background-color: #ffffff;
  height: 500px;
  display: flex;
  flex-direction: column;
  .form-header {
    width: 100%;
    h2 {
      @extend %large-site-color-underscore;
      margin-top: 36px;
      margin-bottom: 33px;
    }
  }
  .form-proper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-end;
    justify-content: flex-start;

    input, textarea {
      width: 635px;
      height: 66px;
      border: 1px solid $site-color;
      margin: 13px 0;
      color: #000000;
      font-size: 32px;
      text-indent: 14px;
      line-height: 66px;
      &::placeholder {
        color: #cdcdcd;
      }
    }
    textarea {
      height: 189px;
      resize: none;
      margin-bottom: 0;
    }
    .form-proper-left-column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .form-proper-right-column,  {
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-image {
        width: 264px;
        height: 210px;
        background-image: url("../images/red_chair.png");

      }
      button {
        width: 343px;
        height: 71px;
        border: 0;
        background-color: $site-color;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 7px;
        margin-top: 37px;
        align-self: flex-end;
        font-size: 34px;
        font-weight: bold;
      }
    }
  }
}

.form-checkbox-container {
  display: flex;
  flex-direction: row;
  height: 49px;
  width: 342px;
  margin-top: 35px;
  align-self: flex-end;

  .form-checkbox {
    width: 49px;
    height: 49px;
    border: 1px solid $site-color;
    background: url("../images/form_ok.jpg") no-repeat center;
    background-size: 90%;
  }
  div:nth-child(2) {
    width: 293px;
    padding-left: 13px;
  }
}

