.plans {
  background-color: #f1f1f1;
}

.plans-div {
  height: 725px;
  display: flex;
  flex-direction: column;
  .plans-header {
    width: 100%;
    h2 {
      @extend %large-site-color-underscore;
      margin: 48px 0 0 0;
    }
  }
  .plans-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .plans-option {
      height: 500px;
      width: 330px;
      border: 2px solid #d5d5d5;
      position: relative;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: space-around;
      &:first-child {
        margin: 75px 15px 0 0;
      }
      &:nth-child(2) {
        margin: 75px 15px;
      }
      &:last-child {
        margin: 75px 0 0 15px;
      }
      h3 {
        font-size: 22px;
        text-transform: uppercase;
        color: $site-color;
        text-align: center;

        margin: 31px 0 0 0;
      }
      .plan-price {
        width: 129px;
        height: 129px;
        border-radius: 50%;
        border: 2px solid #d5d5d5;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        margin-top: 30px;
        >span {
          display: block;
          color: #d5d5d5;
          &:first-child {
            font-size: 40px;
            font-weight: bold;
          }
          .super {
            font-size: 16px;
            vertical-align: text-top;
          }
        }
        }
      ul {
        list-style: none;
        padding: 0;
        margin: 35px 0 0 0;
        border-top: 1px solid white;
        width: 100%;
        li {
          font-size: 24px;
          line-height: 43px;
          height: 43px;
          text-align: center;
          &:nth-child(odd) {
            background-color: #e4e4e4;
            color: #949494;
            line-height: 44px;
            height: 44px;
          }
          &:nth-child(even) {
            background-color: #f1f1f1;
            color: #747474;
            line-height: 45px;
            height: 45px;
          }
        }
      }
      button {
        background-color: $site-color;
        height: 34px;
        width: 122px;
        border-radius: 7px;
        margin: auto 0 19px 0;
        text-transform: uppercase;
        color: #ffffff;
        border: 0;
      }
      }
    }
  }

.dot1 {
  border: 2px solid #d5d5d5;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  position: absolute;
  left: 50%;
  margin-left: -28.5px;
  top: -37px;
  z-index: 1;
  background-color: #ffffff;
}

.dot2 {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: relative;
  top: 50%;
  margin-top: -13.5px;
  left: 50%;
  margin-left: -13.5px;
  background-color: #c2c2c2;
  z-index: 2;
}

