.plans {
  background-color: #f1f1f1;
}

.plans-div {
  height: 725px;
  display: flex;
  flex-direction: column;
  .plans-header {
    width: 100%;
    h2 {
      @extend %large-site-color-underscore;
      margin: 48px 0 0 0;
    }
  }
  .plans-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .plans-option {
      height: 500px;
      width: 330px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child {
        margin: 75px 15px 0 0;
      }
      &:nth-child(2) {
        margin: 75px 15px;
      }
      &:last-child {
        margin: 75px 0 0 15px;
      }
      .dot1 {
        border-radius: 50%;
        width: 57px;
        height: 57px;
        position: absolute;
        left: 50%;
        margin-left: -28.5px;
        top: -37px;
        z-index: 1;
        .dot2 {
          border-radius: 50%;
          width: 27px;
          height: 27px;
          position: relative;
          top: 50%;
          margin-top: -13.5px;
          left: 50%;
          margin-left: -13.5px;
          z-index: 2;
        }
      }
      h3 {
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        margin: 31px 0 0 0;
      }
      .plan-price {
        width: 129px;
        height: 129px;
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        >span {
          display: block;
          &:first-child {
            font-size: 40px;
            font-weight: bold;
          }
          .super {
            font-size: 16px;
            vertical-align: text-top;
          }
        }
        }
      ul {
        list-style: none;
        padding: 0;
        margin: 35px 0 0 0;
        width: 100%;
        li {
          font-size: 24px;
          line-height: 43px;
          height: 43px;
          text-align: center;
          &:nth-child(odd) {
            line-height: 44px;
            height: 44px;
          }
          &:nth-child(even) {
            line-height: 45px;
            height: 45px;
          }
        }
      }
      button {
        height: 34px;
        width: 122px;
        border-radius: 7px;
        margin: auto 0 19px 0;
        text-transform: uppercase;
        border: 0;
      }
      }
    }
  }

.inactive {
  border: 2px solid #d5d5d5;
  background-color: #f9f9f9;
  .dot1 {
    border: 2px solid #d5d5d5;
    background-color: #ffffff;
    .dot2 {
      background-color: #c2c2c2;
    }
  }
  h3 {
    color: $site-color;
  }
  .plan-price {
    border: 2px solid #d5d5d5;
    background-color: #ffffff;
  }
  span {
    color: #d5d5d5;
  }
  ul {
    border-top: 1px solid white;
    li {
      &:nth-child(odd) {
        background-color: #e4e4e4;
        color: #949494;
      }
      &:nth-child(even) {
        background-color: #f1f1f1;
        color: #747474;
      }
    }
  }
  button {
    background-color: $site-color;
    color: #ffffff;
  }
}

.active {
  border: 2px solid $site-color;
  background-color: $site-color;
  .dot1 {
    border: 2px solid $site-color;
    background-color: $site-color;
    .dot2 {
      background-color: #ffffff;
    }
  }
  h3 {
    color: #ffffff;
  }
  .plan-price {
    border: 2px solid #ffffff;
    background-color: #ffffff;
  }
  span {
    color: $site-color;
  }
  ul {
    border-top: 1px solid white;
    li {
      &:nth-child(odd) {
        background-color: #ffffff;
        color: #949494;
      }
      &:nth-child(even) {
        background-color: #f1f1f1;
        color: #747474;
      }
    }
  }
  button {
    background-color: #ffffff;
    color: $site-color;
  }
}




