.slider-list {
  list-style: none;
  li {
    list-style: none;
    display: flex;
  }
}

.slider {
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f5f5f5 51%, #cfced3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#f5f5f5 51%,#cfced3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f7f7 0%,#f5f5f5 51%,#cfced3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#cfced3',GradientType=0 ); /* IE6-9 */
}

.slider-div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 504px;
  padding-top: 50px;
  .slider-element {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-items: center;
    justify-content: space-between;
  }

}

.prev, .next {
  font-size: 80px;
  color: $site-color;
  background: none;
  border: none;
  height: 90%;
  outline: none;
}

.slider-image {
  width: 340px;
  height: 100%;
  margin-right: auto;
  margin-left: 35px;
  display: block;
}

.image1 {
  background: url("../images/black_chair.png") no-repeat center;
  background-size: 600px;
}

.image2 {
  background: url("../images/orange_chair.png") no-repeat center;
  background-size: 450px;
}

.slider-text-block {
  margin-left: auto;
  margin-right: 85px;
  width: 420px;
  height: 337px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-transform: uppercase;
    font-size: 40px;
    display: block;
    margin: 80px 0 0 0;
    font-weight: normal;
  }
  p {
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  button {
    height: 52px;
    width: 264px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: none;
    background-color: $site-color;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    letter-spacing: 0.5px;
    word-spacing: 5px;
  }
}

